<div>
    {% for node in nodes %}
        <div>
            {% include './widget.html.twig' with {
                'node': node
            } %}
        </div>
    {% endfor %}
</div>
<pre>{{ sql }}</pre>
