<div>
    <h2>FoooOOoooOOOoo</h2>
    <strong>{{ foo }}</strong>
    
    {% for node in nodes %}
        <div>
            {% include './widget.html.twig' with {
                'node': node
            } %}
        </div>
    {% endfor %}
</div>
